<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <i class="fa-regular fa-<%= task.completed ? 'square-check' : 'square' %>"></i>
      <%= link_to "#{task.title}", task_path(task) %> ãƒ»
      <%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<hr>

<i class="fa-solid fa-plus"></i><%= link_to("Add a new task", new_task_path) %>
