<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to "#{task.completed ? '[X]' : '[_]'} #{task.title}", task_path(task) %>
    </li>
  <% end %>
</ul>

<%= link_to("Add a new task", new_task_path) %>
